/* Mobile Styles */

body {
    background: url(../images/bg-mobile.svg) no-repeat center top;
    background-size: 100% 50%;
    color: #fff;
    width: 100%;
    background-color: #674bb1;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

header,
main,
.image-container img {
    width: 79%;
}

header {
    margin-top: 38px;
}

header .logo img {
    width: 32%;
}

.image-container {
    margin: 68px 0;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.text-container h1 {
    font-family: "Poppins", sans-serif;
    line-height: 1.5em;
    margin: 0;
}

.text-container p {
    margin: 25px 0;
    line-height: 1.3em;
}

button {
    padding: 15px 60px;
    border-radius: 25px;
}

.social-container {
    margin: 60px 0 39px 0;
    width: 27%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.social-container p {
    margin: 0;
}

footer {
    width: 100%;
    margin-bottom: 20px;
}

/* Desktop Styles */

@media only screen and (min-width: 1440px) {
    body {
        background: #674bb1 url(../images/bg-desktop.svg) no-repeat center;
        background-size: cover;
    }

    header, main, .image-container img {
        width: 85%;
    }

    header .logo img {
        width: 20%;
    }

    main {
        flex-flow: row nowrap;
        position: relative;
    }

    .text-container {
        width: 65%;
    }

    .social-container {
        width: 10%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}